*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Catamaran', sans-serif;
}
h1{
    font-size: 1px;
}
body{
    background-image:url(./img/fondo.jpg);
    background-position: center;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.5); 
    
}


/* HEADER todo sobre le menú y el baner superior*/
/* ---------- BANNER SUPERIOR ---------- */
header{
    width: 100%;
    margin: 0 auto;
    background-color: rgb(245, 239, 230);
    clear: both;
    content: '';
    display: table;
}
.banner_superior{
    height: 30px;
    width: 100%;
    top: 0px;
    position: fixed;
    background-color: #112b25;
}
header div a {
    font-family: 'Catamaran', sans-serif;
    text-align: center;
    padding-top: 2px;
    text-decoration: none;
    color: rgb(231, 233, 137);
}

/* ---------- MENÚ ---------- */
#lorem{
    display: none;
}
img{
    float: left;
    padding: 8px;
}
.menu{
    width: 100%;
    margin: 0 auto;
}
.menu nav ul li a{
    color: black;

}
nav{
    float: right;
}
nav ul li{
    list-style: none;
    float: left;
    margin: auto;
    margin-left: 25px 0;
    margin-top: 15px;
    padding: 20px;
    font-family: 'Catamaran', sans-serif;
    font-weight: bold;
    
}
/* CUERPO de PAGINA */

div h3{
    padding: auto;
    padding-top: 80px;
    text-align: center;
    font-size: 65px;
}
iframe{
    width: 100%;
    height: 500px;
}
.horario{
    background-color: rgb(245, 239, 230);
    width: 100%;
    height: 550px;
}
.horario a{
    text-decoration: none;
    color: black;
    font-family: 'catamaran';
    font-size: 20px;
   
}

.horario p{
    text-align: left;
    font-size: 20px;
    
}
.eslogan {
    margin: auto;
    margin-top: -9px;
    height:400px ;
    background-color: rgb(245, 239, 230,0.7);

}
.eslogan p{
    text-align: center;
    margin: auto;
    padding-top: 150px;
    padding-bottom: 50px;
    font-size: 25px;
    font-weight: bold;
}
.menuCuerpo{
    margin: auto;
    margin-top: -9px;
    height:400px ;
    background-color: rgb(245, 239, 230,0.5);  
}
.colage{
    width: 100%;
    height: 600px;
    background-color: rgb(245, 239, 230);
}

/* FOOTER todo relacionaod por el pie de pagina  */
footer{
    background-color: black;
    height: 100px;
    margin: auto;
    margin-top: 600px;
}
footer p{
    font-family: 'catamaran';
    text-align: center;
    padding-top: 30px;
    color: rgb(47, 122, 85);
}
